<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>fNIRsdata</title>
</head>
<body>


                <form class="form-login" action="/TEST/fNIRsdata/plot/" method="post">
                                           {%csrf_token%}
                  <label for="type">Select the experiment data type to view:</label>
                  <select name="datatype" id="type">
                      {% block content %}{% endblock %}
                  </select>
                <input type="Text" name='patient_id'  value={{patient_id}} >
                <input type="Text" name='session_id'  value={{sessionid}} >
                  <input type="submit" value="Submit">
                  <br><br>
                </form>

</body>
</html>