<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 >Select the data you want to plot:</h1>
<form class="form-login" action="/TEST/probedata/plot/" method="post">
     {%csrf_token%}
{% block content %}{% endblock %}
    <input type="Text" name='patient_id'  value={{patient_id}} >
    <input type="Text" name='datatype'  value={{datatype}} >
     <input type="Text" name='probetype'  value={{probetype}} >
   <h1 >Enter the range of the selected data source to plot (e.g. from 0 to {{length}})</h1>
        <label for="label1">Start from：</label>
  <input type="number" id="label1" name="quantity1" min="0" max={{length}}>
        <label for="label2">End in：</label>
    <input type="number" id="label2" name="quantity2" min="0" max={{length}}>
    <input type="submit" value="Submit">
    <br><br>
</form>
</body>
</html>